* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}

section {
  height: 100%;
  flex: 1;
}

.screen-width {
  width: 100%;
  max-width: 1200px;
}

header {
  background: pink;
  min-height: 60px;
  display: flex;
  align-items: center;
}
